form{
    margin-top: 3rem;
}

form input[name="city"],
form input[name="country"]{
    background-color: transparent;
    color:black;
    border: 0;
    border-bottom: 2px solid white;
    border-radius: 0;
}

form input:focus{
    box-shadow: none!important;
}

form input
.container::-webkit-input-placeholder
{
    color: #282c34!important;
}